.body{
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;

}
#div{   
    background: #ccd9ff;
    position: absolute;
}

#cabecera{
    background: #b3c6ff;
    position: absolute;

}